:root {
    --color1: #1abc9c;
    --color2: #3498db;
    --color3: #f5f5f5;
    --color4: #333;
  }
  body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-color: var(--color3);
  }
  
  .container {
    font-family: Arial, sans-serif;
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  header {
    background-color: var(--color1);
    color: #fff;
    padding: 20px 0;
  }
  header h1{
    width: fit-content;
  }
  header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }
  
    header nav li {
      margin: 0 10px;
    }
    a {
      color: #fff;
      /* para que no aparesca la linea en los link */
      text-decoration: none;
      font-size: 1.2rem;
      transition: all 0.3s ease;
    }
    
    /* Color cuando pasas el maouse por encima */
    header nav a:hover {
      color: var(--color2);
    }


   .circulo{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }